:root {
    --pink: #e040fb;
    --blue: #1fb6e4
}

html {
    scroll-behavior: smooth
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif
}

body {
    min-height: 100%;
    font-size: 16px;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden
}

.imgHome {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: #0099e5
}

.imgHome img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: .5
}

section.homePage {
    text-align: center
}

.info {
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: inherit;
    font-weight: 600;
    padding: 2rem 2rem;
    border-radius: 20px
}

section.homePage h2 {
    font-weight: 700
}

section.homePage p {
    font-size: 1.5rem;
    font-weight: 400;
    width: 80%;
    margin: auto;
    margin-top: 1rem
}

section.homePage span {
    color: #e040fb;
    font-size: 5rem
}

.info button {
    background: 0 0;
    border: none;
    width: 3rem;
    height: 3rem;
    background: 0 0;
    border-radius: 50%;
    outline: 0;
    border: 2px solid #fff;
    margin: auto
}

.info button:hover {
    background: #e040fb;
    transition: .3s;
    border: none
}

.info button i {
    color: #fff;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    outline: 0
}

.social {
    margin: 3rem auto
}

.social a {
    text-align: center;
    padding: 0
}

.social img {
    width: 40px;
    border-radius: 50%;
    background: #1fb6e4;
    background: linear-gradient(blue, var(--blue));
    margin-left: 10px
}

.social img:hover {
    width: 43px;
    margin-left: 7px
}

.social img:hover {
    cursor: pointer;
    transition: .3s ease
}

nav {
    background: 0 0
}

.navbar .navbar-brand {
    margin-left: 10%;
    border: 2px solid #e040fb;
    padding: 3px 12px
}

.navbar .navbar-brand:hover {
    background: var(--pink);
    color: #fff
}

.navbar .navbar-nav {
    margin-right: 10%
}

.navbar .navbar-nav li {
    border: 2px solid #e040fb;
    padding: 0 12px;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 400
}

.navbar .navbar-nav li a {
    color: #e040fb
}

.navbar .navbar-nav li:hover {
    background: var(--pink);
    transition: .2s
}

.skills {
    text-align: center;
    padding: 8.5rem 0;
    background: linear-gradient(#4fc3f7, #7b1fa2);
    width: 100vw
}

.projects h1,
.skills h1 {
    font-weight: 400;
    padding-bottom: 4rem;
    font-family: Cambo, "Times New Roman", serif;
    color: #fff;
    font-size: 4rem
}

div.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
    text-align: center;
    max-width: 1450px;
    margin: auto;
    padding: 0 3rem
}

.cards div {
    border: 2px solid #fff;
    height: 550px;
    width: 300px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22)
}

.cards img {
    padding: 1rem 0
}

.cards h3 {
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
    text-transform: capitalize
}

.skills ul {
    list-style-type: none;
    color: #ff0
}

.skills li {
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: .5rem
}

section.projects {
    text-align: center;
    padding: 8rem
}

div.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: auto;
    grid-gap: 1.5rem;
    width: 100%;
    max-width: 1450px
}

.project {
    background: #0099e5;
    width: 400px;
    height: 280px;
    margin: 1rem auto;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    transition: all .45s ease-in-out;
    background-position: top;
    opacity: 1;
    background-size: cover
}

.project:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    background: #293347
}

.projects h1 {
    color: #8c43ff
}

.color {
    width: 400px;
    height: 280px;
    z-index: 999;
    background: red
}

.content {
    display: none;
    color: #fff
}

.content p {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    width: 85%;
    margin: auto;
    text-transform: capitalize
}

.project button {
    width: 130px;
    height: 40px;
    background: 0 0;
    border: 3px solid #8c43ff;
    border-radius: 30px;
    display: inline-block;
    margin: 1rem auto;
    color: #fff;
    margin-left: 10px
}

.project button:hover {
    background: #8c43ff
}

.project:hover .content {
    display: block;
}

.two {
    background-image: url(../img/screencapture-5d229562350b65ce3ec20eed-xenodochial-meninsky-1c69a3-netlify-2019-07-25-18_27_58.png)
}

.three {
    background-image: url(../img/screencapture-budgetwebapp-epizy-2019-07-25-18_26_23.png)
}

.four {
    background-image: url(../img/screencapture-qstp-epizy-2019-07-25-18_24_03.png)
}

.five {
    background-image: url(../img/weather-app-icons.jpg)
}

.six {
    background-image: url(../img/laptop_landing.png)
}

.one {
    background-image: url(../img/litemaxx.png)
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-transform: capitalize;
    background: #8c43ff;
    color: #fff;
    width: 100%;
    margin: 8rem auto;
    padding: 2rem 0
}

.about h1 {
    font-family: Cambo, "Times New Roman", serif;
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Indie Flower', cursive
}

.about .info2 {
    width: 80%;
    margin: auto
}

.about img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    float: right;
    margin-right: 20%
}

.about p {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem
}

section.contact {
    background: #263238;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 3rem;
    color: #fff
}

div.contact {
    text-align: center;
    text-transform: capitalize;
    color: #fff
}

.contact h1 {
    padding: 5rem 0 0 0;
    font-size: 2.5rem;
    font-weight: 500
}

.contact p {
    margin-top: 1rem;
    font-size: 1.4rem;
    margin-bottom: 1rem
}

.nav-social {
    display: grid
}

.nav-social img {
    width: 80px;
    text-align: center;
    float: left;
    margin-bottom: 1rem;
    border-radius: 50%;
    margin-right: 20%
}

.nav-social img:hover {
    transition: .4s ease-in-out;
    width: 85px;
    height: 85px;
    background: #8c43ff
}

input:focus {
    color: #fff
}

.msgForm {
    color: #ff3d00;
    font-weight: 400
}

.nav-social {
    margin-top: 1rem
}

nav {
    max-width: 100%;
    overflow: hidden
}

.col-md-3 .text-center {
    padding: 0
}

section#contact {
    width: 100%;
    overflow: hidden
}

@media (max-width: 1700px) {
    .nav-social img {
        margin-left: 3rem
    }
}

@media (max-width: 1490px) {
    html {
        font-size: 14px
    }

    .nav-social img {
        margin-left: 4rem
    }

    .project {
        width: 400px
    }
}

@media (max-width: 1420px) {
    html {
        font-size: 14px
    }

    .nav-social img {
        margin-left: 4rem
    }
}

@media (max-width: 1070px) {
    html {
        font-size: 14px
    }

    .nav-social img {
        margin-left: 4rem
    }

    .projects {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
    }

    .project {
        width: 400px;
        height: 320px
    }

    .image img {
        margin-right: 20px
    }
}

@media (max-width: 993px) {
    html {
        font-size: 14px
    }

    .nav-social img {
        margin-left: 4rem;
        margin-right: 0
    }

    .navbar .navbar-nav li {
        border: none
    }

    .image img {
        margin-right: 20px;
        width: 350px;
        height: 350px
    }

    .navbar .navbar-nav li {
        padding-right: 0
    }

    .cards div {
        height: 470px
    }
}

@media (max-width: 770px) {
    html {
        font-size: 12px
    }

    .formdiv {
        width: 80%;
        margin: auto
    }

    .nav-social img {
        float: none
    }

    .nav-social {
        display: flex
    }

    .nav-social {
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }

    .cards div {
        height: 450px
    }

    .image img {
        width: 300px;
        height: 300px
    }

    #home-p {
        width: 120%;
        margin: auto;
        transform: translateX(-10%)
    }
}

@media (max-width: 770px) {
    html {
        font-size: 10.5px
    }

    .image img {
        width: 250px;
        height: 250px
    }

    .cards div {
        height: 400px
    }

    .skills li {
        font-size: 1.5rem
    }
}

@media (max-width: 630px) {
    .image img {
        width: 170px;
        height: 170px;
        margin-top: 4rem
    }

    .contact h1 {
        font-size: 2rem
    }

    .nav-social img {
        width: 60px
    }

    .project {
        width: 320px;
        height: 260px
    }

    .about {
        grid-template-columns: 1fr;
        text-align: center
    }

    .about img {
        float: none;
        margin-bottom: 2rem
    }
}

@media (max-width: 520px) {
    .info2 {
        padding: 2rem 0
    }

    section.projects {
        padding: 2rem
    }

    .projects {
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
    }

    .project {
        width: 280px;
        height: 270px
    }

    .contact h1 {
        font-size: 1.8rem
    }
}

@media (max-width: 520px) {
    .projects {
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        text-align: center
    }

    div.project {
        width: 250px;
        margin-left: 4rem
    }

    .contact h1 {
        font-size: 1.5rem
    }
}

@media (max-width: 400px) {
    div.project {
        width: 200px;
        margin-left: 6rem
    }
}